{
  "openapi": "3.0.1",
  "info": {
    "title": "ATG_XTT_Cytotoxicity_up_raw with OpenAPI schemas and predicate annotation",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://registry.develop.edelweiss.douglasconnect.com"
    }
  ],
  "paths": {
    "/datasets/749ea637-1262-46cc-b7cd-a8c2c6004245/data": {
      "get": {
        "x-orn-@id": "https://datasets/802a506e-2e08-4baf-b4f0-c3b89cbddd4d/data",
        "x-orn-@type": "x-orn:EdelweissDataSet",

        "x-orn:expects":
          {
          },
        "x-orn:returns":
          {
            "x-orn-@id": "x-orn:ToxCastRawDataSet"
          },

        "summary": "Returns the data",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The data along with aggregation/faceting information and a total count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "ID",
                            "type": "integer",
                            "description": "Generated row id"
                          },
                          "SampleID": {
                            "title": "SampleID",
                            "type": "string",
                            "description": "Sample ID"
                          },
                          "Substance": {
                            "x-orn-@title": "Substance",
                            "x-orn-@id": "x-orn:TestSubstance",
                            "x-orn-@type": "x-orn:TestSubstance",
                            "$ref": "#/components/schemas/substance",
                            "description": "Test Substance"
                          },
                          "Activity": {
                            "title": "Activity",
                            "x-orn-@id": "x-orn:BiologicalActivity",
                            "x-orn-@type": "x-orn:BiologicalActivity",
                            "$ref": "#/components/schemas/quantity",
                            "description": "Experimental Activity in ATG XTT Cytotoxicity Assay"
                          }
                        },
                        "description": "A result row with values for each column"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "quantity": {
        "type": "object",
        "required": [
          "value",
          "unit"
        ],
        "properties": {
          "value": {
            "type": "number",
            "format": "float"
          },
          "unit": {
            "type": "string"
          },
          "modifer": {
            "type": "string",
            "enum": [
              "<",
              ">",
              "~"
            ]
          }
        }
      },
      "compound": {
        "type": "object",
        "properties": {
          "PubChemCID": {
            "title": "Substance.Compound.PubChemCID",
            "type": "string"
          },
          "CompoundName": {
            "title": "Substance.Compound.CompoundName",
            "type": "string"
          },
          "InChIKey": {
            "title": "Substance.Compound.InChIKey",
            "type": "string"
          },
          "SMILES": {
            "title": "Substance.Compound.SMILES",
            "type": "string"
          }
        }
      },
      "substance": {
        "type": "object",
        "properties": {
          "Compound": {
            "title": "Substance.Compound",
            "x-orn-@id": "x-orn:Compound",
            "x-orn-@type": "x-orn:Compound",
            "$ref": "#/components/schemas/compound"
          },
          "CAS": {
            "title": "Substance.CAS",
            "type": "string"
          },
          "Concentration": {
            "title": "Substance.Concentration",
            "x-orn-@id": "x-orn:Concentration",
            "x-orn-@type": "x-orn:Concentration",
            "$ref": "#/components/schemas/quantity"
          }
        }
      }
    }
  },

  "x-orn-@context": {
    "x-orn-@id": "@id",
    "x-orn-@type": "@type",
    "@vocab": "http://openrisknet.org/schema#",
    "x-orn": "http://openrisknet.org/schema#",

    "title": "x-orn:title",
    "info": "x-orn:info",
    "paths":
      { "@id": "x-orn:paths",
        "@container": "@id"
       },
    "description": "x-orn:description",
    "get": "x-orn:Get",
    "post": "x-orn:Post",
    "put": "x-orn:Put",
    "patch": "x-orn:Patch",
    "delete": "x-orn:Delete",
    "parameters": "x-orn:OperationParameters",
    "responses":
      {"@id": "x-orn:OperationResponses",
                "@container": "@index"
      },
    "schema": "x-orn:Schema",
    "properties": "x-orn:Properties",
    "content": "x-orn:Content",
    "application/json": "x-orn:application/json",

    "unit":                 "http://purl.obolibrary.org/obo/UO_0000000",
    "id":                   "http://edamontology.org/data_0842",
    "SampleID":             "http://edamontology.org/data_3273",
    "Substance":            "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C45306",
    "Compound":             "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C43366",
    "PubChemCID":           "http://semanticscience.org/resource/CHEMINF_000140",
    "CompoundName":         "http://semanticscience.org/resource/CHEMINF_000043",
    "InChIKey":             "http://semanticscience.org/resource/CHEMINF_000059",
    "SMILES":               "http://semanticscience.org/resource/CHEMINF_000018",
    "CAS":                  "http://semanticscience.org/resource/CHEMINF_000446",
    "Concentration":        "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C41185",
    "Activity":             "http://www.bioassayontology.org/bao#BAO_0080024"
  }
}
