{
  "openapi": "3.0.1",
  "info": {
    "title": "ATG_XTT_Cytotoxicity_up_raw with OpenAPI schemas and subject annotation",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://registry.develop.edelweiss.douglasconnect.com"
    }
  ],
  "paths": {
    "/datasets/749ea637-1262-46cc-b7cd-a8c2c6004245/data": {
      "get": {
        "summary": "Returns the data",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The data along with aggregation/faceting information and a total count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "x-orn-@id": "http://edamontology.org/data_0842",
                            "title": "ID",
                            "type": "integer",
                            "description": "Generated row id"
                          },
                          "SampleID": {
                            "x-orn-@id": "http://edamontology.org/data_3273",
                            "title": "Sample ID",
                            "type": "string",
                            "description": "Sample ID"
                          },
                          "Substance": {
                            "x-orn-@id": "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C45306",
                            "$ref": "#/components/schemas/substance",
                            "description": "Test Substance"
                          },
                          "Activity": {
                            "x-orn-@id": "http://www.bioassayontology.org/bao#BAO_0080024",
                            "$ref": "#/components/schemas/quantity",
                            "description": "Experimental Activity in ATG XTT Cytotoxicity Assay"
                          }
                        },
                        "description": "A result row with values for each column"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },

  "components": {
    "schemas": {
      "quantity": {
        "type": "object",
        "required": [
          "value",
          "unit"
        ],
        "properties": {
          "value": {
            "x-orn-@id": "http://openrisknet.org/ORN_000000",
            "type": "number",
            "format": "float"
          },
          "unit": {
            "x-orn-@id": "http://purl.obolibrary.org/obo/UO_0000000",
            "type": "string"
          },
          "modifer": {
            "x-orn-@id": "http://openrisknet.org/ORN_000000",
            "type": "string",
            "enum": [
              "<",
              ">",
              "~"
            ]
          }
        }
      },
      "compound": {
        "type": "object",
        "properties": {
          "PubChemCID": {
            "x-orn-@id": "http://semanticscience.org/resource/CHEMINF_000140",
            "title": "PubChem CID",
            "type": "string"
          },
          "CompoundName": {
            "x-orn-@id": "http://semanticscience.org/resource/CHEMINF_000043",
            "title": "Compound Name",
            "type": "string"
          },
          "InChIKey": {
            "x-orn-@id": "http://semanticscience.org/resource/CHEMINF_000059",
            "title": "InChIKey",
            "type": "string"
          },
          "SMILES": {
            "x-orn-@id": "http://semanticscience.org/resource/CHEMINF_000018",
            "title": "SMILES",
            "type": "string"
          }
        }
      },
      "substance": {
        "type": "object",
        "properties": {
          "Compound": {
            "x-orn-@id": "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C43366",
            "$ref": "#/components/schemas/compound"
          },
          "CAS": {
            "x-orn-@id": "http://semanticscience.org/resource/CHEMINF_000446",
            "title": "CAS",
            "type": "string"
          },
          "Concentration": {
            "x-orn-@id": "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C41185",
            "$ref": "#/components/schemas/quantity"
          }
        }
      }
    }
  },

  "x-orn-@context": {
    "x-orn-@id": "@id",
    "x-orn-@type": "@type",
    "@vocab": "http://openrisknet.org/schema#",
    "x-orn": "http://openrisknet.org/schema#"
  }
}
