{
  "openapi": "3.0.1",
  "info": {
    "title": "Generated schema",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://registry.develop.edelweiss.douglasconnect.com"
    }
  ],
  "paths": {
    "/datasets/749ea637-1262-46cc-b7cd-a8c2c6004245/data": {
      "get": {
        "summary": "Returns the data",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The data along with aggregation/faceting information and a total count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "title": "ID",
                            "type": "integer",
                            "description": "Generated row id"
                          },
                          "SampleID": {
                            "title": "Sample ID",
                            "type": "string",
                            "description": "The Sample ID"
                          },
                          "PubChemCID": {
                            "title": "PubChem CID",
                            "type": "string",
                            "description": "The PubChem CID"
                          },
                          "CompoundName": {
                            "title": "Compound Name",
                            "type": "string",
                            "description": "The Compound Name"
                          },
                          "InChIKey": {
                            "title": "InChIKey",
                            "type": "string",
                            "description": "The InChIKey"
                          },
                          "SMILES": {
                            "title": "SMILES",
                            "type": "string",
                            "description": "The SMILES"
                          },
                          "CAS": {
                            "title": "CAS",
                            "type": "string",
                            "description": "The CAS"
                          },
                          "Concentration": {
                            "title": "Concentration",
                            "type": "number",
                            "description": "The Concentration"
                          },
                          "ConcentrationUnit": {
                            "title": "Concentration Unit",
                            "type": "string",
                            "description": "The Concentration Unit"
                          },
                          "Activity": {
                            "title": "Activity",
                            "type": "number",
                            "description": "The Activity"
                          },
                          "ActivityUnit": {
                            "title": "Activity Unit",
                            "type": "string",
                            "description": "The Activity Unit"
                          },
                        },
                        "description": "A result row with values for each column"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "x-orn-@context": {
    "x-orn-@id": "@id",
    "x-orn-@type": "@type",
    "@vocab": "http://openrisknet.org/schema#",
    "x-orn": "http://openrisknet.org/schema#",

    "id":                   "http://edamontology.org/data_0842",
    "SampleID":             "http://edamontology.org/data_3273",
    "PubChemCID":           "http://semanticscience.org/resource/CHEMINF_000140",
    "CompoundName":         "http://semanticscience.org/resource/CHEMINF_000043",
    "InChIKey":             "http://semanticscience.org/resource/CHEMINF_000059",
    "SMILES":               "http://semanticscience.org/resource/CHEMINF_000018",
    "CAS":                  "http://semanticscience.org/resource/CHEMINF_000446",
    "Concentration":        "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C41185?value",
    "ConcentrationUnit":    "http://ncicb.nci.nih.gov/xml/owl/EVS/Thesaurus.owl#C41185?unit",
    "Activity":             "http://www.bioassayontology.org/bao#BAO_0080024?value",
    "ActivityUnit":         "http://www.bioassayontology.org/bao#BAO_0080024?unit",
  }
}
